doc
Meta
.Rproj.user
.Rhistory
.RData
.gitignore
fort.6
fort.0
ecto csv input
Rplots.pdf
manmo_out.csv
extdata
DmagnaResp.csv
NicheMapR_DEB_example.R
UK dem terr50 code.R
addTrans.R
aererg.txt
agg_Cosby_LAI_SLGAloamtop_stemp.csv
calculating skinwet_to share.R
calculating skinwet_to share_liopholis ex.R
compile_micro.R
deb-model-theory-equations - Copy.Rmd
debmodeltest.R
download.USA.grids.R
ecto_modular.R
ectotherm-model-theory-equations.Rmd
ectotherm_input.txt
example_SCAN_hourly.R
fetchSCAN.R
find_pwet_function.R
find_pwet_function_new.R
find_pwet_function_to share.R
forecast_points.csv
forecast_points_eaust.csv
forecast_points_vic.csv
gadsplot.R
getDEB.R
get_dem.R
get_dem2.R
get_pwet.R
gfortran notes.txt
horizon.angle.R
hourly_weather_SCAN_2184.csv
locustsim.R
micro_SCAN.R
micro_SCAN_old.R
micro_fetchSCAN.R
micro_ncep_cloud calcs.R
micro_ncep_old.R
minor.ticks.R
note on vignettes.txt
onelump_old.R
onelump_var.R
onelump_var_thaw.R
onelump_varenv_ode_old.R
onelump_varenv_old.R
plantsim.R
shadmet.csv
shadsoil.csv
soil_hydro.R
soilgrids.org.R
testing.micro_clima.R
testing.ncep.R
thaw.R
water skink forecast.gif
CHESS-met_v1.2_SupportingDocumentation.rtf
DEB_mass_budget.png
DEB_scheme.png
Eulamprus_tympanum.png
debtest.R
allstat_R.zip
